[flake8]
max-line-length = 100
extend-ignore =
    #F401 - Ошибка импорта модуля и не использования
    #Эта ошибка проигнорированна в четырех файлах, так как в них код еще не завершен
    F401
exclude=
    # Папка вертуального окружения
    .venv,
    # Папка кеша не важна для проверок
    __pycache__



